<ROOT_URL>https://reachoptic.com</ROOT_URL><CLIENT_EMAIL></CLIENT_EMAIL><LICENSE_CODE>36PA-PJ3I-566P-86BD</LICENSE_CODE><LCD>MmhqWk9lMmdlMlgvcmRXcGNoejRrdz09OjqNo4MwYJZ/hpAqkO2x0bsh</LCD><LRD>REt4MGMvVVZ2YlV3MXlCQmJBUHlDUT09OjoTZxstR3tna4bE2t6Kn7jW</LRD><INSTALLATION_KEY>YVdSN0p4R1dKcjBaM25iY1JPemVqakVLdmtISGhRL01KYWxheG42Q1R6UmNRdnNuaEI4dkd1Q1lLd1A4WHNBV3ZJMVdNaUxmK3dRZ3MvTlZkdlNVZ2c9PTo65ZJtxHHNthiOAll/31sQFQ==</INSTALLATION_KEY><INSTALLATION_HASH>77ea13e07a4b993fe9890413f94e0819426bbb2fa680102bd0c27fc728b5867e</INSTALLATION_HASH>